{% extends 'layouts/base.html' %}

{% block title %}
    Home
{% endblock %}


{% block body %}

    <div class="container-fluid sm-margin-top">
        <div class="row text-center lg-margin-bottom">
            <h1>Lorem ipsum dolo</h1>
            <h3 class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
                <h2>Lorem ipsum dolor</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>
                    <a href="#" class="btn btn-default">Sign up</a>
                </p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-fw fa-4x fa-database text-primary"></i>
                <h2>Lorem ipsum dolor</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>
                    <a href="#" class="btn btn-default">Sign up</a>
                </p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
                <h2>Lorem ipsum dolor</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>
                    <a href="#" class="btn btn-default">Sign up</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
